html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: Quattrocento Sans;
}
.header {
    /* height: 54px; */
    padding: 40px 200px;
    text-align: center; 
    background-color: rgb(211, 185, 236);
    display: flex;
}
.sign_in, #start_btn{
    width: 90px;
    height: 34px;
    font-family: Quattrocento Sans;
    background-color: rgb(138, 33, 236);
    border: 2px solid rgb(138, 33, 236);
    padding: 6px 18px;
    transition-duration: 0.4s;
    font-size: 13px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    font-weight: 600;

}
.sign_in:hover, #start_btn:hover{
    background-color: rgb(192, 149, 231);
    border: 2px solid rgb(138, 33, 236);
    color: rgb(255, 255, 255);
}
.sign_up {
    width: 90px;
    height: 34px;
    font-family: Quattrocento Sans;
    background-color: rgb(138, 33, 236);
    border: 2px solid rgb(138, 33, 236);
    padding: 6px 18px;
    transition-duration: 0.4s;
    font-size: 13px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.sign_up:hover {
    background-color: rgb(192, 149, 231);
    border: 2px solid rgb(138, 33, 236);
    color: rgb(255, 255, 255);
}
.links {
    /* display: inline; */
    /* margin-right: 100px; */
    font-family: Quattrocento Sans;
}
a{
    margin-right: 50px;
}
a:link {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(138, 33, 236);
}
.bicycle {
    color: rgb(138, 33, 236);
}
.bicycle:hover {
    color: rgb(138, 33, 236);
}
.map {
    height: 100vh;
    background-image: linear-gradient(to bottom,  rgb(211, 185, 236) 40%, rgba(255, 255, 255, 0.486)),
    url('../img/map.jpg');
    background-size: cover;
    text-align: center;
}
.website_title {
    /* margin: 0px; */
    text-align: center;
    position: relative;
    top: 120px;
    font-weight: 700;
    font-size: 65px;
}
.line_watchit {
    display: block;
    color: black;
    margin-top: 130px;
    width: 250px;
    border: 0;
    border-bottom: 8px solid black;
}
.h_right {
    flex: 2;
    text-align: right;
    margin: auto 0;
}
.h_center {
    flex: 5;
    margin: auto 0;
}
.h_left {
    flex: 2;
    text-align: left;
}
#watch_it {
    margin: 0px;
}
.lorem_watch_it {
    width: 50%;
    margin: 20px auto;
    font-weight: 400;
}
#start_btn {
    width: 180px;
    height: 50px;
    font-size: 18px;
}
#start_btn:focus, .sign_in:focus, .sign_up:focus {
    outline: none;
}
.startbtn_div {
    margin-top: 100px;
}
.container {
    position: relative;
    top: 90px;
}
.container_room {
    text-align: center;
    background-color: rgb(138, 33, 236);
    padding: 30px;
}
/* .room {
    margin: 0 auto;
    width: fit-content;
    border-bottom: 3px solid black;
} */
#room_h1 {
    margin: 0px;
    color: white;
    margin: 0 auto;
    width: fit-content;
    border-bottom: 3px solid white;
}
#room_p {
    width: 60%;
    margin: 50px auto;
    font-weight: 400;
    color: white;
}
.container_about_us {
    text-align: center;
    background-color: rgb(192, 149, 231);
    padding: 30px;
}
.about_us {
    margin: 0 auto;
    width: fit-content;
    border-bottom: 3px solid black;
}
#aboutus_h1 {
    margin: 0px;
    color: black;
}
/* #aboutus_p {
    width: 60%;
    margin: 20px auto;
    font-weight: 400;
    color: black;
} */
.flex_aboutus{
    margin: 50px 300px;
    text-align: center;
    display: flex;
}
.phone {
    flex: 2;
    text-align: left;
}
.email {
    flex: 10;
}
.address {
    flex: 2;
    text-align: right;
}
hr {
    /* display: block; */
    color: black;
    margin-top: 10px;
    width: 1000px;
    border: 0;
    border-bottom: 3px solid black;
}
.footer, .top {
    text-align: center;
    margin-top: 35px;
}
.top_btn {
    margin: 0 auto;
    margin-left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgb(192, 149, 231);
}
.top_btn:hover {
    background-color: rgb(192, 149, 231);
    border: 2px solid rgb(138, 33, 236);
    color: rgb(138, 33, 236);
}
.top_btn:focus {
    outline: none;
}